<html>
    <head>
      <title>The Socket Server</title>
      <script src="js/webRequest.js"></script>
    </head>
    <body>
      <script>
        const reloadCount = ()=>{
          sendHttpGET("visitorCount",(text)=>{
            document.querySelector('footer #count').innerHTML = text;
          });
        }
      </script>
      <p>Welcome to the Socket Server</p>
      <img src="images/smiley.gif"></img>
      <p>Thanks for visiting us</p>
      <footer onclick="reloadCount()">You are visitor <span id="count">__visitorCount__</span></footer>
    </body>
  </html>